
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  position: relative;
  height: 100vh;
  width: 100vw;
}
body {
  font-size: 1.6rem;
  background-image: url(../src/assets/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
}

header {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description {
  font-weight: 900;
  font-size: 2rem;
  color: bisque;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  margin-bottom: 3.5rem;
}

.score-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scores {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.card {
  justify-self: center;
  display: flex;
  width: 150px;
  border-radius: 20px;
  flex-direction: column;
  cursor: pointer;
}

.card-img {
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
}

.card-title {
  text-align: center;
  font-weight: 900;
  font-size: 3rem;

}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}
.signature {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  gap: 0.5rem
}
