
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  position: relative;
  min-height: 100%;
}
body {
  height: 100vh;
  font-size: 1.6rem;
  background-image: url(../src/assets/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description {
  font-weight: 900;
  font-size: 2rem;
  color: bisque;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.score-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scores {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.card-container {
  width: 100%;
  display: grid;
  padding: 15px 20px;
  margin-top: 1rem;
  margin-bottom: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 270px));
  justify-content: space-around;
  column-gap: 10px;
  row-gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  box-shadow: 1px 1px black;

}
.card-img {
  height: 200px;
  width: 100px;
  background-color: aquamarine;
}


footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}
.signature {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  gap: 0.5rem
}
